/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

@media only screen and (max-width: 600px) {
  #App { padding: 0.1em 0.6em 0.1em 0.4em; display: flex; flex-direction: row; font-size: 1.1em; width: 90vw; }
  #loading { width: 50vw;}
  #nav-bar { padding: 0; display: block; float: none; text-align: center; }
  ul { margin: 2px; padding: 0; }
  li { display: block; margin: 0; padding: 0; }
  li a { display: block; float: none; padding: 0.2em; font-size: 1.1em; margin-bottom: 10px; text-align: center; }
  #social-nav-bar { padding: 0; float: none; display: inline; padding: 0.2em; }
  #prof-pic { max-width: 40vw; }
  #email { float: none; padding: 0; margin: 2px; }
  #email-text { text-align: center; text-orientation: initial; }
}


.App-header {
  background-color: #fcfcf9;
  color: #fcfcf9;
}

.App-main {
  background-color: #fcfcf9;
  min-height: 100vh;
  clear: both;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(8px + 2vmin);
  color: #fcfcf9;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
