body {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  margin: 0;
  font-family: 'Arial', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* remove scrollbar */
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-y: scroll;
}

body::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

/* margin: top right bottom left */

#loading {
  text-align: center;
  margin-top: 10%;
}

/* * NAVBARS */

#nav-bar {
  position: fixed;
  margin-top: 4%;
  margin-left: 86%;
  padding: 20px;
  text-align: center;
  position: fixed;
  top: 0;
}

#social-nav-bar {
  position: fixed;
  margin-bottom: 2%;
  margin-left: 6%;
  padding: 20px;
  text-align: center;
  position: fixed;
  bottom: 0;
}

.social-hr {
  border-left: 0px solid #09d5f0;
  height: 50px;
  width: 0px;
}

.social-icons:hover {
  box-shadow: 1px 1px 1px 1px white;
}

a {
  display: block;
  text-decoration: none;
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 20px;
  color: aliceblue;
}

a:hover {
  color: #09d5f0;
  cursor: pointer;
}

a:active {
  color: rgb(187, 218, 50);
}

/* * SECTIONS */

#home {
  margin-top: 350px;
  text-align: left;
  margin-right: 20%;
}

#about {
  clear: both;
  float: right;
  margin: 8% 20% 10% 35%;
}

#projects {
  clear: both;
  float: left;
  margin: 8% 35% 10% 20%;
}

#contact {
  clear: both;
  float: right;
  margin: 8% 20% 10% 35%;
}

#resume {
  clear: both;
  float: left;
  margin: 8% 35% 10% 20%;
}

.right-section-header {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  float: right;
  margin-bottom: 20px;
}

.left-section-header {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  float: left;
  margin-bottom: 20px;
}

.section-content {
  display: flex;
  margin-top: 75px;
}

hr {
  clear: both;
  border: 1px solid rgb(9, 213, 240);
}


/* * FONTS  */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: x-large;
}

.squada-font {
  font-family: 'Squada One', regular;
}

.intro-text {
  font-size: 25px;
}

.section-text {
  font-size: 25px;
  text-align: right;
}

/* * IMAGES */

#prof-pic {
  border-radius: 15px;
  width: 20vw;
  height: fit-content;
  margin-right: 40px;
  flex: 1;
}